:host {
  height: 100%;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(5, calc(100% / 5 - 8px));
  grid-template-rows: repeat(2, 45%);
  gap: 10px;
  width: 100%;
  height: 100%;

  .movie {
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 5px;

    &:hover {
      img {
        transform: translate(-50%, -50%) scale(1.05);
      }

      .overlay {
        opacity: 1;
      }
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      backface-visibility: hidden;
      transition: transform 0.35s;
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.35);
      opacity: 0;
      transition: opacity 0.35s;
      position: absolute;
      inset: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      mat-icon {
        cursor: pointer;
        padding: 0 10px;

        &:hover {
          // TODO make this use the theme primary/accent color
          color: gray;
        }
      }
    }

    .title {
      position: absolute;
      background: rgba(0, 0, 0, 0.85);
      bottom: 0;
      width: 100%;
      z-index: 2;
    }
  }
}
