<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button class="menu-button" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Movie Search</span>

  <app-theme-selector></app-theme-selector>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side">
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of sideNavItems"
        [routerLink]="item.route"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ item.label }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <section class="main-content">
    <router-outlet></router-outlet>
  </section>
</mat-sidenav-container>
