:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-container {
  flex: 1;

  > mat-sidenav {
    width: 200px;
  }
}

.main-content {
  padding: 20px;
  height: calc(100% - 20px * 2);
}

.router-link-active {
  background-color: lightgray;
}

app-theme-selector {
  margin-left: auto;
}
