<div class="search-wrapper">
  <form (ngSubmit)="onSubmit(search)" #searchForm="ngForm">
    <mat-form-field appearance="fill">
      <input
        matInput
        id="search"
        name="search"
        placeholder="Search for your movie here!"
        [(ngModel)]="searchValue"
        type="search"
        #search="ngModel"
        required
      />
      <mat-icon matSuffix>search</mat-icon>
      <mat-error *ngIf="search.invalid && (search.dirty || search.touched)">
        A search term is required
      </mat-error>
    </mat-form-field>

    <div class="buttons">
      <!-- Enter button will trigger search via the submit button type -->
      <button mat-raised-button color="primary" type="submit">Search</button>
      <!-- I'm feeling lucky button needs to be triggered by a button click -->
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="luckySearch(search)"
      >
        I'm feeling lucky
      </button>
    </div>
  </form>
</div>
