.movies-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;

  mat-spinner {
    align-self: center;
    margin: auto 0;
  }

  .headline {
    align-self: center;
  }
}
